src/main/resources/application.yaml
src/main/resources/application.yml
src/main/resources/application-*.yml
!src/main/resources/application-example.yml
src/test/resources/application-*.yml
src/test/resources/application.yml

### Gradle ###
.gradle/
build/
postgres_data/
bin/

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.utils
pom.xml.v
release.properties

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

### Eclipse ###
.settings/
.project
.classpath
.factorypath

### OS ###
.DS_Store
Thumbs.db

### Log files ###
*.log
logs/


### infra ###
infra/terraform/provider.tf
infra/terraform/terraform.*
infra/terraform/.terraform*